.blogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    text-align: center;
}

.post {
    width: 100%;
}

.postContent {
    width: 100%;
}

.blogContainer :global(img) {
    max-width: 100%;
    height: auto;
}

.blogContainer :global(figure) {
    margin: 0;
    padding: 0;
}

.blogContainer :global(figcaption) {
    display: none;
}