
.contactPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    max-height: 500px;
  }    

.contactIcon.green {
    stroke: var(--color-cta); 
    padding-right: 1rem;
  }

.contactOptionsContainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    flex: 1;
    margin-left: 0.5rem;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    flex: 1;
    gap: 1rem;
    text-align: left;
    height: 100%;
    margin: 0;
}
  
.contactOptionsContainer .panel {
    margin: 0;
    max-width: none;
    height: 100%;
    margin-right: 0.5rem;
  }

.contactInfoItem {
    display: flex;
}

@media (max-width: 768px) {
    .contactOptionsContainer {
        flex-direction: column;
        align-items: center;
    }
    .contactOptionsContainer .panel {
        margin: 1rem 0;
      }

    .contactPage {
        height: auto;
        max-height: none;
    }
    
    .contactForm {
        margin: 1rem 0; 
    }
}