.title {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.faqQuestion {
    display: flex;
    align-items: center;
}

.faqQuestionContainer {
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

.faqAnswer {
    overflow: hidden;
    max-height: 0;
    transform: translateY(-10px);
    opacity: 0;
    text-align: left;
    transition: all 0.5s ease;
}

.faqAnswer.open {
    padding-top: 1rem;
    max-height: 1000px; /* Set to the max height your content might need */
    transform: translateY(0);
    opacity: 1;
}

.list {
    text-align: left;
}

.listItem {
    margin: 1rem 0;
}

.faqLogoOff {
    display: block;
    width: 2rem;
    height: 2rem;
}
.faqLogoOff.on {
    display: none;
}

.faqLogoOn {
    display: none;
    width: 2rem;
    height: 2rem;
}
.faqLogoOn.on {
    display: block;
}