:root {
  --color-primary: #1a2c40;
  --color-secondary: #69A7D3;
  --color-background: #E7E5DF;
  --color-text-light: #E7E5DF;
  --color-text-dark: #1a1a1a;       /* for light backgrounds (like your background) */
  --color-text-muted: #5f6b7a;           /* for less prominent text */
  --color-success: #4CAF50;
  --color-cta: #7EA082;
  --height-header: 100px;
  --font-body: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  color: var(--color-text-light);
}