.homeContainer {
    background-color: transparent;
    margin: 0;
    }
    
.contentContainer {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--color-background);
    color: var(--color-text-dark);
}

.contentText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-right: 1rem;
}

.contentImage {
  width: 300px;
  height: auto;
}

.introPanel {
    width: 100%;
}
    
@media (max-width: 768px) {
    .optionSection {
      flex-direction: column;
      align-items: center;
    }
  
    .contentImage {
      display: none;
    }
    .introPanel {
      width: 100%;
    }
  }