.servicesContainer {
    display: flex;
    color: var(--color-text-dark);
    flex-direction: column;
    align-items: center;
    vertical-align: top;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    text-align: center;
  }

  .servicesSectionContainer {
    width: 100%;
  }
  .servicesIntroPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    padding: 24px;
    text-align: center;
    margin-top: 2rem;
    background-color: var(--color-background);
  }

  .optionCard {
    background-color: var(--color-background);
    border-radius: 8px;
    padding: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid var(--color-background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .optionSection {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.5s ease;
    width: 100%;
    gap: 16px;
    max-width: 800px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    text-align: left;
  }
  
  .optionSection.open {
    max-height: 3000px; /* or auto with JS */
    opacity: 1;
    transform: translateY(0);
    padding-bottom: 24px;
  }

  .optionHeader {
    margin-bottom: 0;
    cursor: pointer;
    border: 2px solid var(--color-background);
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;;
    width: 100%;
    border-radius: 8px;
  }

  .optionHeader:hover {
    background-color: var(--color-primary);
    color: var(--color-background);
    transition: all 0.3s ease;
  }

  .optionHeader.open {
    background-color: var(--color-primary);
    color: var(--color-background);
    transition: all 0.3s ease;
  }
  
  .optionHeaderText {
    margin: 0;
  }

  .servicesCta {
    margin: 1rem;
  }
  
.logoOff {
  display: block;
  width: 2rem;
  height: 2rem;
}
.logoOff.on {
  display: none;
  transition: opacity 0.3s ease;
}

.logoLight {
  display: none;
  transition: opacity 0.3s ease;
  width: 2rem;
  height: 2rem;
}

.logoOn {
  display: none;
  transition: opacity 0.3s ease;
  width: 2rem;
  height: 2rem;
}

.logoOn.on {
  display: block;
  color: var(--color-background);
}

.optionHeader.open:hover .logoLight {
  display: none;
}
.optionHeader:hover .logoOff {
  display: none;
}

.logoLight {
  display: none;
  transition: opacity 0.3s ease;
  width: 2rem;
  height: 2rem;
}

.optionHeader:hover .logoLight {
  display: block;
}

.price {
  margin-top: 1rem;
}

  @media (max-width: 768px) {
    .optionSection {
      flex-direction: column;
      align-items: center;
    }
  }  