.storeContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.productCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
}

.productTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--color-text-dark);
}

.productDescription {
  font-size: 1rem;
  color: var(--color-text-dark);
  margin-bottom: 16px;
}

.productsPrice {
  font-size: 1.25rem;
  color: var(--color-text-dark);
  margin-bottom: 16px;
}

.productLink {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
}