.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: var(--color-background);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    box-sizing: border-box;
    margin: 0;
  }
  
  .contactForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contactFormContainer {
    width: 100%;
    box-sizing: border-box;
    height: 100%;

  }
  
  .formInput,
  .formTextarea {
    width: 100%;
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-sizing: border-box;
    resize: none;
    margin: .5rem 0;
    font-family: Arial, sans-serif;
  }
  
  .formInput:focus,
  .formTextarea:focus {
    border-color: #3b82f6;
    outline: none;
  }
  
  .formButton {
    padding: 0.75rem;
    background-color: var(--color-cta);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    align-items: end;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-transform: uppercase;
  }
  
  .formButton:hover {
    background-color: var(--color-secondary);
  }
  
  .toast {
    margin-top: .5rem;
    background-color: #10b981;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    text-align: center;
    animation: fadeInOut 3s ease forwards;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;    }
    10%,
    90% {
      opacity: 1;    }
    100% {
      opacity: 0;
    }
  }
  