.getStartedButton {
    width: auto;
    min-height: 24px;
}

.center {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-body);
  }
  
.logo {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  margin: 1rem;
}

.logoContainer {
  max-width: 380px; /* or a percent */
  width: 100%;
}
  
  .right {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    align-items: flex-end;
    width: auto;
  }
  
  .left {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .icon {
    stroke: var(--color-cta);
  }
  
  .contactInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: .5rem 0;
  }
  
  .contactInfoItem {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: flex-start;
  }
  
  .socialMediaSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
  }
  
  .socialMediaText {
    vertical-align: middle;
  }
  
  .socialMedia {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .buttonSocialMedia {
    width: 24px;
    height: 24px;
    margin-left: 0.5rem;
    background-color: transparent;
    fill: var(--color-secondary); /* So you can control icon color via text color */
  }
  
  .mobileCopyright {
    font-size: .75em;
    margin-right: 2em;
    display: none;
  }
  
  .desktopCopyright {
    font-size: .75em;
    margin-right: 2em;
    margin-top: 0.5rem;
  }
  
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: center;
    }
  
    .left {
      margin: 0;
      text-align: center;
    }
    .right {
      text-align: center;
      align-items: center;
    }
  
    .socialMediaSection {
      justify-content: center;
    }
  
    .contactInfoItem {
      justify-content: center;
      margin: .5rem 0;
    }
  
    .mobileCopyright {
      display: block;
    }
    .desktopCopyright {
      display: none;
    }
  }