.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--color-text-light);
    height: var(--height-header);
    background-color: var(--color-primary);
    box-sizing: border-box;
    padding: 0 20px;
  }

  .navList {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    z-index: 1;
  }

  .logo {
    cursor: pointer;
  }
  
  .hamburger {
    display: none;
    font-size: 1.8rem;
    color: var(--color-text-light);
    background: none;
    border: none;
    cursor: pointer;
  }

  .navList li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-text-light);
  }
  
  .navList li a:hover {
    text-decoration: underline;
    color: lightblue
  }

  .logoImage {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  padding: 0 1rem;
  box-sizing: border-box;
}

.logoImageContainer {
  max-width: 380px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
} 
  
  /* Mobile styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    position: relative;
    border: 1px solid var(--color-background);
    border-radius: 5px;
    top: 0;
    right: 0;
    padding: 0 .4rem;
  }

  .hamburgerActive {
    background-color: var(--color-secondary);
    color: var(--color-primary);
  }

  .nav {
    /* display: none; */
    position: absolute;
    top: 70px; /* Adjust this value to position the nav below the header */
    right: 20px;
    background: var(--color-background);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
  }

  .nav.open {
    opacity: 1;
    pointer-events: auto;
  }

  .navList {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .navList li {
    margin:0;
    border-radius: 5px;
    background-color: var(--color-background);
    transition: background-color 0.3s ease;
  }
  .navList li a {
    color: var(--color-primary);
  }
  
  .navList li:hover {
    color: var(--color-primary);
    background-color: var(--color-secondary);
  }
}