.slideshowContainer {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshowImage {
  position: absolute;
  max-width: 500px;
  max-height: 200px;
  object-fit: cover;
  top: 0;
  left: 0;
  transition: transform 1s ease;
}

.slideIn {
  transform: translateX(100%);
  animation: slideInFromRight 1s forwards;
}

.slideOut {
  transform: translateX(0%);
  animation: slideOutToLeft 1s forwards;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
