.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  color: var(--color-text-dark);
  background-color: var(--color-secondary);
  border-radius: var(--corner-radius);
}

.title{
    text-align: center;
}

.description {
  font-size: 0.9rem;
}
.price {
  font-weight: bold;
}

.quantityInput {
  width: 50px;
  padding: 5px;
  margin: 10px 0;
}